* {
    font-family: roboto, sans-serif;
    margin: 0;
}

.hero {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 200px 100px;
    gap: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.links {
    display: flex;
    gap: 30px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8
}

.hero-main-container {
    display: flex;
    justify-content: space-between;
}

.hero-main-container > * {
    flex: 1;
}

.hero-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background: #3882f6;
    border: none;
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
}

.hero-image {
    background: #999;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #1f2937;
    padding-bottom: 60px;
}

.information-title {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
}

.information-images-container {
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-align: center;
    gap: 30px;
}

.information-image {
    display: flex;
    flex-direction: column;
}

.square {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.quote {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 70px 400px ;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
}

.thor {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.outer-sign-up {
    padding: 80px 220px;
}

.sign-up-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3882f6;
    border-radius: 5px;
    padding: 30px 0;
}

.sign-up-heading, .sign-up-section-button {
    color: #f9faf8;
}

.sign-up-section-button {
    background: #3882f6;
    border: 1px solid #f9faf8;
    padding: 6px 16px;
    border-radius: 6px;
}

.sign-up-section-button:hover {
    cursor: pointer;
    background: #f9faf8;
    color: #3882f6;
}

.sign-up-text {
    font-size: 14px;
    color: #e5e7eb;
    margin-top: 5px;
}

.footer {
    background: #1f2937;
    text-align: center;
    padding: 20px 0;
    color: #e5e7eb;
    font-size: 12px;
    font-weight: 200;
}